# Git
.git
.gitignore
.github

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# Poetry
poetry.lock
.poetry/

# Docker/Compose
docker-compose.yml
docker-compose.override.yml
docker/

# Local configuration
.env
.env.*
*.db
*.sqlite

# IDEs
.vscode/
.idea/
*.swp
*.swo
